@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:700&display=swap");

/* .navbar {
background-color: #43C0F6;
display: flex;
justify-content: center;
height: 64px;

} */

.main-SPL-container {
  display: flex;
}
.myCheckbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 13%;
  margin-left: 10%;
  color: #767676;
  font-family: "Open Sans", sans-serif;
  flex-basis: 7%;
}

.myCheckbox h1 {
  font-size: 16px;
  
}
hr {
  width: 164px;
}
label {
  font-size: 14px;
}
.projects-container {
  flex-basis: 65%;
  padding: 5%;
}
.projects-container h1 {
  color: #6c6c6c;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}
.projects-container p {
  color: #767676;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  color: #767676;
  margin-right: 4%;
}
.buttons {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
.left {
  justify-content: flex-start;
  width: 287px;
  height: 21px;
  font-weight: bolder;
}
/*I styled each button individually*/
#beginner {
  background-color: #faf0e6;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#beginner:hover {
  background-color: rgb(15, 150, 241);
  color: white;
  cursor: pointer;
}
#intermediate {
  background-color: #faf0e6;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#intermediate:hover {
  background-color: rgb(15, 150, 241);
  color: white;
  cursor: pointer;
}
#advanced {
  background-color: #faf0e6;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#advanced:hover {
  background-color: rgb(15, 150, 241);
  color: white;
  cursor: pointer;
}
#five {
  background-color: #faf0e6;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#five:hover {
  background-color: rgb(15, 150, 241);
  color: white;
  cursor: pointer;
}
#ten {
  background-color: #faf0e6;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#ten:hover {
  background-color: rgb(15, 150, 241);
  color: white;
  cursor: pointer;
}
#all {
  background-color: #faf0e6;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#all:hover {
  background-color: rgb(15, 150, 241);
  color: white;
  cursor: pointer;
}
.right {
  justify-content: flex-end;
  width: 246px;
  height: 21px;
}
.right h3 {
  margin-top: 0px;
  margin-right: 10px;
}
.image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 0px;
}
.image {
  width: 314px;
  height: 221px;
  /* padding: 20px; */
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.image h2 {
  font-size: 25px;
  color: #707070;
  font-weight: 900px;
  font-family: "Nunito", sans-serif;
  margin-top: 5px;
  margin-bottom: -10px;
}
.image p {
  font-size: 18px;
  color: #767676;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
}
#back-to-top {
  background-color: #daa520;
  color: white;
  width: 175px;
  height: 35px;
  border-radius: 10px;
  margin-left: 83%;
  margin-top: 200px;
  border: none;
  font-weight: bolder;
  transition: background-color 0.3s, color 0.3s;
}
#back-to-top:hover {
  background-color: #ffda7b;
  color: black;
  cursor: pointer;
}
